body {
  margin: 0;
  font-family: ABeeZee, sans-serif;
  font-size: 30px;
  background-color: #FDFDFF;
  /* background: linear-gradient(#EFF8FF, #FDFDFF); */
}

header {
  margin-bottom: 40px;
}

.header-content {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

main {
  width: 1170px;
  margin: 0 auto;
  padding: 0 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

input, button{
  border: none;
  border-radius: 8px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.hero a {
  display: block;
  text-align: center;
}

::placeholder {
  text-align: center;
}

.url {
  background-color: #9DCAF0;
  width: 740px;
  height: 55px;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
}
 
select {
  display: block;
  width: 200px;
  background-color: #9DCAF0;
  border-radius: 8px;
  height: 30px;
  align-self: end;
}

.table {
	border: none;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: left;
}

.table thead th {
	font-weight: bold;
	border: none;
	padding: 10px 15px;
	background: #9DCAF0;
	font-size: 14px;
}

.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}

.table tbody td {
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.table tbody tr:nth-child(even){
	background: #EFF8FF;
}

.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

.table a {
  color: black;
}

.table-deviation {
  width: 100px;
}

.table-deviation, .table-price {
  text-align: right;
}



.filter-button {
  margin-left: 10px;
  height: 30px;
  font-weight: bold;
  background-color: #9DCAF0;
  align-self: self-end;
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

.modal-box {
  min-width: 400px;
  padding: 40px 30px;
  margin: 50px;
  z-index: 1;
  background-color: #EFF8FF;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
}

.modal.hidden {
  visibility: hidden;
}

.modal-box h2 {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

.modal-box h3 {
  display: block;
  margin: 0;
  margin-top: 15px;
  font-size: 32px;
}

.modal-box li {
  margin: 0;
  padding: 0;
}

.filters-list, .sorting-list{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;
}

.filters-block {
  margin-bottom: 15px;
}

.filters-block li {
  margin-left: 20px;
}

.bottons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.close-button, .reset-button{
  background-color: #9DCAF0;
  font-family: ABeeZee, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

input[id='deviation'] {
  font-family: ABeeZee, sans-serif;
  font-size: 20px;
  width: 65px;
  vertical-align: middle;
}

input[id='region'] {
  font-family: ABeeZee, sans-serif;
  font-size: 20px;
  vertical-align: middle;
}